@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --principal-fonte: "Open Sans", sans-serif;
    --cor-principal: #4EC067;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--principal-fonte);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f5f7;
}

h2 {
    margin-bottom: 10px;
    font-size: 32px;
    text-transform: capitalize;
}

.container {
    position: relative;
    width: 768px;
    height: 480px;
    background-color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
}

.form-container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    transition: transform 0.6s ease-in-out;
}

.sign-up-container {
    left: 0;
}

.sign-in-container {
    left: 50%; /* Ajuste para manter na posição correta */
    transform: translateX(100%); /* Inicialmente fora da tela */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 50px;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 12px;
    background-color: #eee;
    border: none;
}

button {
    background: var(--cor-principal);
    padding: 10px 50px;
    border: 1px solid transparent;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    outline: none;
    transition: transform 0.2s;
}

button:active {
    transform: scale(0.95);
}

.overlay_container {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 100;
    right: 0;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
}

.overlay {
    position: absolute;
    width: 200%;
    height: 100%;
    left: -100%;
    background-color: var(--cor-principal);
    transition: transform 0.6s ease-in-out;
}

.overlay_panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: white;
    padding: 0 40px;
    text-align: center;
}

.overlay_left_container {
    left: 0;
}

.overlay_right_container {
    right: 0;
}

.overlay_panel button {
    background-color: transparent;
    border: 1px solid white;
}

.overlay_panel p {
    font-size: 12px;
    margin: 10px 0 15px 0;
}

/* Ajustes para a transição */
.container.active .sign-up-container {
    transform: translateX(100%); /* Mova o sign-up para fora */
}

.container.active .sign-in-container {
    transform: translateX(0); /* Traga o sign-in para a tela */
}

.container.active .overlay_container {
    transform: translateX(-100%);
}

.container.active .overlay {
    transform: translateX(50%);
}
